.fondo-texto {
    background-color: rgb(0, 146, 221);
    color: white;
}

.botonDonar{
    background-color:#2596be;
    border-radius: 10px;
    color: white;
    border: none;
    height: 40px;
    width: 80%;
    margin-right: 2%;
}

.botonVolver{
    width: 90px;
    height: 65px;
    background-color:#f37254;
    border-radius: 10px;
    color: white;
    border: none;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

.botonForm{
    height: 65px; 
    background-color: #2596be;
    border-radius: 10px;
    color: white;
    border: none;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
}

.botonDestacado {
    height: 65px;
    background-color:#f37254;
    border-radius: 10px;
    color: white;
    border: none;
}

.botonOtro {
    width: 75px;
    height: 65px;
    background-color:#2596be;
    border-radius: 10px;
    color: white;
    border: none;
    margin-right: 10px;
    
}

.botonHover:hover {
    background-color: rgb(215, 142, 1);
    transition: 0.4s;
  }

.inputForm{
    border-radius: 25px;
    margin-bottom: 10px;
}

.containerForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.masterForm {
    margin-bottom: 50px;
}

.centerText {
    margin-top: 10px;
    margin-right: 70px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

.modalThanks{
    background-color:rgb(0, 146, 221);
    border: 10px solid;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    min-width:400px;
    min-height:300px;
}

.nombre-socio{
    font-size: 30px;
}

@media (max-width: 375px){
    .modalThanks{
        min-width:0px;
        min-height:0px;
        color: white
    }
}

@media (min-width: 0px) and (max-width: 768){
    .modalThanks{
        min-width:0px;
        min-height:0px;
        color: white
    }
}

.modalHeader{
    margin-left: 2%;
    margin-top: 4%;
}

.modalFooter{
    display: flex;
    justify-content: flex-end;
}

.modal-altura{
    height: 80vh;
}

.descriptivo{
    display: flex;
    font-size: 3em;
    justify-content: center ;
    align-content: center;
    margin-bottom: 5%;
    text-align: center;
}

#submitBtn{
    background-color: #f37254;
}

.btn-warning{
    background-color: #f37254 !important;
    color: white !important;
    border-color: white !important;
}

.btn-warning:hover{
    background-color: #f7603e !important;
    color: white !important;
    border-color: white !important;
}

.btn-primary{
    background-color: rgb(0, 146, 221) !important;
    color: white !important;
    border-color: white !important;
    margin-right: 1% !important;
}

.btn-primary:hover{
    background-color: rgb(1, 116, 173) !important;
    color: white !important;
    border-color: white !important;
}

.btn-primary:disabled{
    background-color: rgb(0, 146, 221) !important;
    color: white !important;
    border-color: white !important;
}

.btn-volver{
    margin-right: 2%;
    margin-top: 10%;

    margin-bottom: 2%;
}

.card {
    border: none;
}

.span-text {
    text-decoration: none;
}