.containerGeneral {
    background-color: rgb(0, 146, 221);
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

.containerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
}

.contactoH3 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.inputMargin {
    margin-right: 10px;
}

.formButton {
    display: flex;
    justify-content: center;
    
} 

.button {
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

.buttonSend {
    width: 100px;
    height: 50px;
    font-size: large;
    background-color: #ea6d4f;
    border-radius: 5px;
    border-bottom: white;
    color: white;
}

.column1 {
    display: flex;
    flex-direction: column;

}

.iconItem {
    color: white;
    width: 50px;
    height: 35px;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.inputWidth {
    width: 100px;
}
