.numbers {
  background-image: url("../../assets/Fondo-con-transparencia.jpg");
  position: relative;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.numbers__textCenter {
  position: absolute;
  bottom: 20%;
  top: 16%;
  left: 38%;
  width: 23vw;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numbers__textCenter > h2 {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 8vw;
    color:rgb(0, 147, 221);
}

.numbers__textCenter > h3 {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 6vw;
  color: #e66444;
}

.numbers__textCenter > p {
  font-size: 1.5vw;
  color: black;
  text-align: center;
  font-weight: 600;

}

.numbers__info {
  display: flex;
  height: 90vh;
  justify-content: space-evenly;
}

.numbers__infoLeft {
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: space-around;
}

.numbers__infoCenter {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.numbers__infoRight {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.numbers__items > p {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}
.numbers__num {
  font-size: 4vw;
  font-weight: 600;
}

.numbers__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1030px) {
  .numbers {
    background-image: none;
    margin-bottom: -30%;
  }
 
  .numbers__info {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;

  }
  .numbers__num {
    font-size: 25px;
    font-weight: 600;
  }
  .numbers__items > p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  .numbers__textCenter {
    border: none;
    left: 1%;
    position: absolute;
  }

  .numbers__textCenter > h2 {
    font-size: 4vw;
  }
  .numbers__textCenter > h3 {
    font-size: 4vw;
  }

  .numbers__textCenter > p {
    font-size: 2vw;
  }

  .numbers__infoLeft {
    width: 100%;
  }
  .numbers__infoCenter {
    width: 100%;
  }
  .numbers__infoRight {
    width: 100%;
  }

}

@media (max-width: 700px) {


  .numbers__textCenter > h2 {
    font-size: 5vw;
  }
  .numbers__textCenter > h3 {
    font-size: 3vw;
  }

  .numbers__textCenter > p {
    font-size: 2vw;     
  }
  .numbers__textCenter {
    font-size: 3vw;
    bottom: 15%  
  }
  .numbers__num {
    font-size: 18px;
    font-weight: 600;
  }
 
  .numbers__items > p {
    font-size: 12px;
  }

}


@media (max-width: 360px) {

  .numbers__textCenter > h2 {
    font-size: 4vw;
  }
  .numbers__textCenter > h3 {
    font-size: 3vw;
  }

  .numbers__textCenter > p {
    font-size: 2vw;
  }
  .numbers__textCenter {
    bottom: 20%  
  }
  .numbers__num {
    font-size: 15px;
    font-weight: 600;
  }

  .numbers__items > p {
    font-size: 10px;
  }

}

@media (min-height: 0px) and (max-height: 600px) {

  .numbers__textCenter > h2 {
    font-size: 5vw;

}

.numbers__textCenter > h3 {
  font-size: 5vw;

}

}
