.cardNumber {
    font-size: 60px;
    text-align: center;
}

@media (max-width: 300px){
    .cardNumber{
        font-size: 45px;
    }
}
.cardNumber:hover {
    font-size: 60px;
    text-align: center;
    -webkit-transform: scale(1.2);
    transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardText {
    font-size: 20px;
    text-align: center;

}

.cardBox {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(0, 146, 221);
    background-clip: border-box;
    color: white;
    
}

.title {
    display: flex ;
    justify-content: center;
    font-weight: bolder;
    font-size: 70px;
}

@media(min-width: 0px) and (max-width: 375px){ 
    .title {
        font-size: 40px;
    }
    .cardNumber{
       font-size: 35px; 
    }
    .cardNumber:hover {
        font-size: 35px;
        text-align: center;
        -webkit-transform: scale(1.2);
        transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

@media(min-width: 376px) and (max-width:768px){
    .title {
        font-size: 45px;
   
    }
    .cardNumber{
        font-size: 40px; 
     }
     .cardNumber:hover {
         font-size: 40px;
         text-align: center;
         -webkit-transform: scale(1.2);
         transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     }
}

@media(min-width: 768px) and (max-width: 1400px){
    .title {
        font-size: 50px;
    }
    .cardNumber{
        font-size: 45px; 
     }
     .cardNumber:hover {
         font-size: 45px;
         text-align: center;
         -webkit-transform: scale(1.2);
         transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     }
}


