.navbarProp {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: transparent;
  color: white;
}

.botonDona {

  color: white;
  border-radius: 10px;
  border: 1px solid;
  background-color: #ea6d4f;
  font-weight: 100;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  position: fixed;
  z-index: 2;
  right: 20px;
    bottom: 30px;
}

/* .botonDona2{
  
   
    color: white;
    background-color: #ea6d4f;
    opacity: 0.9;
    border-radius: 10px;
    border: 1px solid;
    font-size: 16px;
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 30px;

}
 */
.btnHover:hover {
  background-color: rgb(215, 142, 1);
  transition: 0.4s;

}

.letraBtn {
  color: white;
  text-transform: uppercase;
  font-size: xx-large;
 
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 0;
  transition: 0.2s;
}

.white {
  color: white;
}

.whiteHover:hover {
  transition: 0.3s;
}

@media (max-width: 768px) {
/*   .navbar-collapse {
    height: 100vh;
} */

.botonDona {
 
    
    font-size: 10px;
    right: 20px;
    bottom: 20px;
    
    max-width: 100px;
   
  
  
}

.letraBtn {

  font-size: large;
 
}


}
