.header__video {
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
}

.header__video > h1 {
  position: absolute;
 /*  color: white; */
  color: rgb(0, 146, 221);
  bottom: 20%;
  left: 30%;
  font-weight: 800;
  font-size: 12vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  letter-spacing: -25px;
}

.header__spanLeft {
  font-size: 2vw;
  letter-spacing: 1px;
}
.header__spanRight {
  font-size: 2vw;
  letter-spacing: 1px;
  margin-left: 70%;
}
.header__spanArrow {
  display: flex;
  justify-content: center;
}
.header__spanArrow:hover {
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
}

.blue-logo-techo{

}

@media (max-width: 850px){
  .header__video > h1 {
  
    letter-spacing: -10px;
   
  }
}
@media (max-width: 600px) {
  video {
    display: none;
  }
  .header__video > h1 {
    font-size: 6vw;
    letter-spacing: -1px;
    bottom: 7%;
  }

  .header__spanLeft{
    font-size: 10px;
  }
  .header__spanRight{
    font-size: 10px;
  }
  svg{
    display: none;
  }
  
  
}
@media (min-width: 600px) {
  .img-header {
    display: none;
  }
}
