.singlePayment > h4{
    text-align: center;
}

.singlePayment__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.singlePayment__button > a > button {
  width: 100px;
  height: 65px;
  border-radius: 20px;
  color: white;
  background-color: #ea6d4f;
  margin: 5px;
  font-size: x-large;
}

.singlePayment__titles {
  color: rgb(0, 146, 221);
  margin-right: 10px;
  text-align: center;
}

.singlePayment__mercadoPago {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logoMP {
  width: 40px;
  height: 40px;
}
@media (max-width: 600px) {
  .singlePayment__titles {
    font-size: 16px;
  }
  .singlePayment__button > a > button {
    width: 70px;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #ea6d4f;
    margin: 5px;
    font-size:15px;
  }
  .singlePayment__parrafo {
    font-size: 10px;
  }
  .logoMP {
    width: 20px;
    height: 20px;
  }
}
