.card-title2:hover {
  background-color: #e66444;
  -webkit-transform: scale(1.1);
  transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reality-center {
  text-align: center;
}

.map-background {
  background: url("../../assets/mapa_imagen.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% 110%;
}

.img-reality {
  border: none;
  display: flex;
  align-items: center;
}

.reality-text {
  font-size: 1.2em;
}

.reality-title {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  background-color: rgb(0, 146, 221);
  color: white;
  border-radius: 10px;
  font-size: 40px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bolder;
}

.card-title2 {
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 50px;
  background: #ea6d4f;
  line-height: 150px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.align-pelotitas {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.left-text-bolitas {
  display: flex;
  text-align: left;
  margin-left: -25%;
  width: 75%;
}

.right-text-bolitas {
  display: flex;
  text-align: right;
  margin-left: 50%;
  width: 70%;
}

.img-text-map {
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  color: rgb(215, 142, 1);
}


@media (min-width: 1600px) {
  .card-title2 {
    font-size: 80px;
    width: 200px;
    height: 200px;
    line-height: 190px;
    margin-right: 5%;
  }
  .reality-text {
    font-size: 2em; 
  }
}

@media(min-width: 1200px){
  .reality-center{
    background-image: url("../../assets/mapa_imagen.png");
    height: 80%;
    width: 80%;
    margin-bottom: 3%;
  }
  .reality-text {
    display: flex;
    transform: scale(1) translate(120%, -120%);
    font-size: 1.2em;
    max-width: 30%;
  }
}
